.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  text-align: center;
  :global {
    .logo {
      object-fit: contain;
      max-width: 100%;
    }
    .intro {
      color: #FFF;
      margin-bottom: 32px;
    }
    .demo {
      width: 430px;
      min-width: 100%;
      margin-bottom: 36px;
      .ace_editor {
        border-radius: 4px;
        .ace_gutter-active-line {
          background-color: transparent;
        }
        .ace_marker-layer {
          display: none;
        }
      }
      @media only screen and (max-width: 464px) {
        width: calc(100vw - 32px);
      }
    }
    .entries {
      width: 250px;
      min-width: 100%;
    }
    .entryButton {
      width: 100%;
      font-size: 24px;
      height: 50px;
    }
    .divider {
      margin: 17px 0;
      color: rgba(255, 255, 255, 0.68);
    }
  }
}
