.Sider {
  min-height: 100vh;
  :global {
    .sidebar-toggler {
      position: fixed;
      top: 80px;
      left: 0px;
      border-radius: 0 4px 4px 0;
      font-size: 20px;
      padding: 0 12px;
      height: 40px;
    }
    .ant-layout-sider {
      background-color: #23272d;
      .ant-menu {
        background-color: #23272d;
      }
    }
  }
}
