.CodeBlock {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #363e4d !important;
  border-radius: 3px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
  white-space: pre;
}
